{% extends "base.html" %}

<h1>User Dashboard</h1>

{% block content %}
{% if user.is_authenticated and user.is_staff %}
<p>Logged in as {{ user.email }} (admin).</p>
{% elif user.is_authenticated %}
<p>Logged in as {{ user.email }}.</p>
{% else %}
<p>You must <a href="/user/register">register</a> to participate in BifCoin.</p>
{% endif %}
{% if claimable %}
<h2>CLAIMABLE</h2>
<p>for {{ linked_email }}:</p>
<form action="/user/claim/proposals" method="post">
  {% csrf_token %}
  <input type="submit" value="Claim these.">
</form>
{% elif claimed %}
<h2>CLAIMED</h2>
<p>You have claimed {{ linked_email }}. Your linked proposals are below.</p>
<form action="/user/unclaim/proposals" method="post">
  {% csrf_token %}
  <input type="submit" value="Un-claim these.">
</form>
{% endif %}

<h2>Linked proposals ({{ linked_proposals|length }})</h2>
<ul>
  {% for proposal in linked_proposals %}
  <li>{{proposal.proposal_name}} - {{proposal.proposal_datetime}}</li>
  {% endfor %}
</ul>

<h2>Earned BifCoin</h2>

<h2>Gifted BifCoin</h2>

<h2>Mined BifCoin</h2>

<h2>Your balance</h2>
<p>{{bifuser.balance}} BiF</p>
{% endblock %}